/uufs/chpc.utah.edu/common/home/u6057891/whiptail_dge_tissues/1_GATK_Project/blast_results/
/uufs/chpc.utah.edu/common/home/u6057891/whiptail_dge_tissues/1_GATK_Project/L.chalumnae_mapped_reads/
2_DGE_Project/tools/eagle/
